{% extends 'base.html' %}

{% block content %}
</div>
</header>

<div class="drac-drop">
	<h1 class="h1-excel">
		Загрузите excel-файл<hr>
	</h1>
	<form method="POST" action="/import" class="dropzone" id="my-awesome-dropzone">
	</form>

	<script>
	    let myDropzone = new Dropzone("#my-awesome-dropzone", {
	    paramName: 'file_upload'
	    });
	</script>
</div>

<div class="download-excel">
	<form method="GET" action="/export">
		<button id="btn" type="submit" class="btn btn-info">Download excel</button>	
	</form>
</div>
<div class="empty" style="height: 70px;">
</div>
<style type="text/css">
	.dropzone {
		margin-top: 25px;
		margin-left: 10%;
		margin-right: 10%;
		border-radius: 40px;
	}
	.h1-excel {
		margin-top: 25px;
		text-align: center;
	}
	.download-excel {
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;
	}
	#btn {
		margin-left: 45%;
  		margin-top: 20px;
	}
</style>
{% endblock content %}