{% extends 'base.html' %}

{% block content %}
			<div class="todo-container">
				<h2 style="text-align: center; margin-top: 10px;"> Добавление задания</h2>
				<hr>
				<form action="/add" method="post">
			        <label for="exampleFormControlTextarea1" class="form-label">Заголовок</label>
  					<textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="title" required></textarea>
			        <label for="exampleFormControlTextarea2" class="form-label">Описание</label>
  					<textarea class="form-control" id="exampleFormControlTextarea2" rows="3" name="details" required></textarea>
			        <label for="tag-selecter">Тег</label>
			        <select class="form-select" aria-label="Default select example" id="tag-selecter" name="tag">
			            <option value="studies">
			                Учёба
			            </option>
			            <option value="personal">
			                Личное
			            </option>
			            <option value="plans">
			                Планы
			            </option>
			        </select>
			        <button type="submit" class="btn btn-success" style="margin-top: 10px;">Добавить</button>
			    </form>
			</div>
			<div class="none" style="height: 100px;">
				
			</div>
		</div>
	</header>

	<section id="about" class="about">
		<div class="container">
			<h2 style="text-align: center;">Задачи</h2>
		    <div>
		        <p>Всего задач : {{ count_of_todos }}</p>
		    </div>
		    <div>
		        {% for todo in todos %}
		        <div class="content-container">
		            <hr />
		            {% if todo.completed %}
		                <h4>Статус: <em class="complete-todos">Выполнено</em></h4>
		            {% else %}
		                <h4>Статус: <em class="uncomplete-todos">НЕ Выполнено</em></h4>
		            {% endif %}
		            <div class="task">
		                {% if todo.completed %}
		                    <strike>{{ todo.title }}</strike>
		                {% else %}
		                    {{ todo.title }}
		                {% endif %}
		                <small>
		                    {% if todo.completed %}
		                        <button type="button" class="btn btn-light" value="{{ todo.id }}" onclick="complete(this.value)">Вернуть</button>
		                    {% else %}
		                        <button type="button" class="btn btn-dark" value="{{ todo.id }}" onclick="complete(this.value)">Выполнить</button>
		                    {% endif %}
		                    <a href="/{{ todo.id }}"><button type="button" class="btn btn-primary">Редактировать</button></a>
		                    <button id="{{ todo.id }}" type="button" class="btn btn-danger" onclick="deleteToDo(this.id)">Удалить</button>
		                </small>
		            </div>
		        </div>
		        
		        {% endfor %}
		    </div>

		    {% if count_of_todos >= 10 %}
		        <div class="container d-flex justify-content-center align-items-center" style="margin-top: 30px;">
		            <button id="prevPage" class="btn btn-outline-dark">Предыдущая страница</button>
		            <span id="currentPage" style="display: inline-block; padding: 15px;"></span>
		            <button id="nextPage" class="btn btn-outline-dark">Следующая страница</button>
		        </div>
		    {% endif %}
		</div>
	</section>

<script>
	function showItems(page) {
	    const startIndex = (page - 1) * itemsPerPage;
	    const endIndex = startIndex + itemsPerPage;

	    for (let i = 0; i < count_of_news; i++) {
	        if (i >= startIndex && i < endIndex) {
	            document.getElementsByClassName('content-container')[i].style.display = 'block';
	        } else {
	            document.getElementsByClassName('content-container')[i].style.display = 'none';
	        }
	    }
	}

	function updatePagination() {
	    let pagesTotal = Math.ceil(count_of_news / itemsPerPage)
	    if (pagesTotal === 0) {
	        pagesTotal = 1;
	    }
	    document.getElementById('currentPage').textContent = `Страница ${currentPage} / ${pagesTotal}`;
	}
    const itemsPerPage = 6;
    let currentPage = 1;
    let count_of_news = Number('{{ count_of_todos }}');
    showItems(currentPage);
    updatePagination();
    document.getElementById('prevPage').addEventListener('click', function () {
        if (currentPage > 1) {
            currentPage--;
            showItems(currentPage);
            updatePagination();
        }
    });
    document.getElementById('nextPage').addEventListener('click', function () {
        const maxPage = Math.ceil(count_of_news / itemsPerPage);
        if (currentPage < maxPage) {
            currentPage++;
            showItems(currentPage);
            updatePagination();
        }
    });
</script>
{% endblock content %}