{% extends 'base.html' %}

{% block content %}
</div>
</header>


<div style="margin-left: 35%;
  margin-top: 52px;">
	<img src="{{ url_for('static', path='img/pie.png') }}" alt="pie">
</div>
{% endblock content %}